<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>EDIT TEAM(s?)</h2>
  <p>This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
  <p>team a?..</p>
  <p>team b?..</p>
  <p>team c?..</p>
  <p>team d?..</p>
</div>
