<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <h2>Add/Remove Teammembers to/from your Project</h2>
    <%= simple_form_for([@user, @project]) do |f| %>
    <%= f.association :users, collection: @team.users, label: "Collaborators to change:", label_method: :user_name %>
    <%= f.submit %>
    <% end %>
</div>