.card-team {
  margin: 10px;
}

.card-team:hover {
  border: 1px solid #7C61FF;
  box-shadow: 0 0 7px #7C61FF;
  transition: all 0.2s ease;
}

.edit-button {
  display: flex;
  justify-content: flex-end;
}


.header {
  margin-top: 75px;
  margin-left: 15%;
  display: flex;
  justify-content: center;
}

.Inner-Container {
  justify-content: space-around;
  margin-top: 50px;
  margin-left: 40%;
  margin-right: 30%;
}

.options {
  display: flex;
  justify-content: space-between;
  //align-items: flex-end;
  flex-basis: content;
  margin-right: 5px;
}

.new-team {
  margin-left: 18%;
}