<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>EDIT USER</h2>
  <p>This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
  <p>input fields to edit via simple form</p>
  <p>input fields to edit via simple form</p>
  <p>input fields to edit via simple form</p>
  <p>input fields to edit via simple form</p>
</div>
