<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <h2>SHOW USER (current user)</h2>
  <p>This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
  <p>their teams</p>
  <p>their projects</p>
  <p>their data?</p>
  <p>their recents?</p>
  <p>etc...</p>
    <!-- edit user button -->
    <%= link_to "back", user_path, class: "btn-white" %>
</div>
