<div class="dashboard dashboard-expand-sm dashboard-light dashboard-datash">
  <ul>
    <li>
      <a href="maybe to edit user??" class="dashboardimage">
        <img src="https://images.unsplash.com/photo-1578593828319-a0f580bd9d07?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Njd8fHB1cnBsZSUyMGF2YXRhcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="avatardatash" />
      </a>
    </li>
    <li><a class="active" href="#dashboard"></a><h2>{#name}</h2></li>
    <li><a class="active" href="#dashboard"></a><h2>{#role}</h2></li>
    <li><%= link_to "Teams", "/teams"%></li>
    <li><%= link_to "Projects", "/projects"%></li>
    <a href="/"><span class="db-DATAsh-blue">DATA</span><span class="db-dataSH-white">SH</span></a>
    <li><a href="#recent">Recent</a></li>
    <li><%= link_to "Profile", "/users/#{current_user.id}"%></li>
    <li><a href="#logout">Logout</a></li>
  </ul>
</div>

<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <h2>CATEGORY HEADER #{name}</h2>
  <p>This is because the side navigation is set to 25% width. If you remove the margin, the sidenav will overlay/sit on top of this div.</p>
  <p>Also notice that we have set overflow:auto to sidenav. This will add a scrollbar when the sidenav is too long (for example if it has over 50 links inside of it).</p>
  <p>Card & text..</p>
  <p>Card & text..</p>
  <p>Card & text..</p>
  <p>Card & text..</p>
</div>
