<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <div class ="view title d-flex w-100 justify-content-center">
  <h2>DOCUMENTS (DATA)</h2>
  </div>

  <div class="documents-container w-100 mt-4 justify-content-around">
    <h2>finallllyyy</h2>
    <p>doc i</p>
    <p>doc ii</p>
    <p>doc iii</p>
    <p>doc iv</p>
    <p>doc v</p>
  </div>
</div>
