<%#= render "shared/dashboard" %>
<div style="padding:86px 28px;height:1000px;">
  <div class ="view title d-flex w-100 justify-content-center">
  <h2>PREVIEW Document</h2>
  </div>
  <p class="doc-names"><%= @document.doc_file_name %></p>

  <% if @document.doc? %>
    <% if @document.doc_content_type == "image/png" %>
      <%= image_tag @document.doc.url, class: "doc-image-preview" %>
    <% elsif @document.doc_content_type == "application/pdf"%>
      <iframe class="iframe-pdf-preview" src="<%= @document.doc.url %>"></iframe>
      <%#= link_to @document.doc.url, @document.doc.url %>
    <% else %>
      <p>sorry, somthing went wrong</p>
    <% end %>
  <% end %>
</div>

