<%#= render "shared/dashboard" %>
<div style="padding:86px 28px;height:1000px;">
  <div class ="view title d-flex w-100 justify-content-center">
  <h2>PREVIEW Document</h2>
  </div>
  <p class="doc-names"><%= @document.doc_file_name %></p>
  <%# raise %>
  <% if @document.doc_content_type == "application/pdf" %>
    <p>hold on...not displayed yet</p>
  <% end %>

  <%= link_to cl_image_tag(@document.doc.url, class: "doc-image-preview"), @document.doc_file_name, target: '_blank' %>
  <%# raise %>
  <%#= cl_image_tag("tia4bcatlumaq2wqorbz", class: "avatar-large p-0") %>
</div>

