<%= render "shared/dashboard" %>
<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <div class ="view title d-flex w-100 justify-content-center">
  <h2>RECENT ACTIVITY</h2>
  </div>
</div>
