<%= render "shared/dashboard" %>

<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <h2>PROJECTS</h2>
  <div class="team-cards-container d-flex w-100 mt-4 justify-content-around">
    <% @user.projects.each do |project| %>
        <div class="card-team">
          <h3><%= project.project_name %></h3>
          <p><%= project.description %></p>
        </div>
    <% end %>
  </div>
</div>
