<%= render "shared/dashboard" %>

<div style="margin-left:25%;padding:86px 28px;height:1000px;">
  <h2>CREATE NEW PROJECT</h2>
  <p>Card & text..</p>
  <p>Find me in app/views/projects/edit.html.erb</p>
</div>
