.btn-white {
  color: #378bfc;
  padding: 4px 12px;
  border-radius: 4px;
  background: white;
  transition: background 0.3s ease;
  text-decoration: none;
  font-weight: 300;
  font-size: small;
  // border:1px solid #378bfc;
  margin: 15px
}

.btn-white:hover {
  background: #378bfc;
  color: white;
  text-decoration: none;
}