.docs-table {
  display: table-header-group;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
}

table p {
  margin-bottom: 0;
}

table h2 {
  font-size: 24px;
  color: #7C61FF;
}

th {
  color: white;
  background-color: #161B23;
  border: 1px solid #161B23 !important;
}

th,
td {
  width: 220px;
  text-align: center;
  padding: 5px;
}

tbody tr:nth-child(even) {
    background: #272D34;
}

tbody tr:nth-child(odd) {
    background: #30363D;
}

tr:hover td {
  border-bottom: 0.01em solid #3FB951 !important;
  transition: 0.3s;
}

.sortable > thead > tr > th > h2 {
  position: relative;
  display: inline-flex;
  padding-top: 4px;
}
