.click-to-open-icon {
  width: 15px;
  height: 15px;
  margin-bottom: 2px;
}

.td-name-column {
  text-align: left;
  margin-left: 40px !important;
}

.doc-image-preview {
  height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.iframe-pdf-preview {
  height: 100%;
  width: 100%;
}
