.forgot-pw {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.forgot-pw:hover {
  text-decoration: none;
  color: #378bfc;
}
