.team-cards-container {
  margin-left: 15%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.card-team {
  margin: 10px;
  width: 500px;
  height: 300px;
  // overflow: scroll;
  text-align: center;
  background: #30363D;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

h3.team-name {
  color: #7C61FF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 30px;
  letter-spacing: -0.015em;
}

h3.project-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  display: center;
  padding-top: 10px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #3FB951;
}

p.description {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  // text-align: center;
  letter-spacing: -0.015em;
  margin-left: 30px;
}

p.recent {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  display: flex;
  padding-left: 242px;
}

p.doc-names {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: white;
  display: flex;
  padding-left: 242px;
}

a {
  text-decoration: none !important;
}

.p-5 {
  padding: 5rem !important;
}

p.team-show-doc-names {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: white;
  display: flex;
  padding-right: 50px;
}
p.user-list{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: white;
  display: flex;
  padding-right: 50px;
}
p.team-show-info {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  margin-left: 30px;
}

.new-proj-input {
  -webkit-text-fill-color: white;
}

.edit-button {
  display: flex;
  justify-content: flex-end;
}

.header {
  margin-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.new-team {
  margin-left: 18%;
}

.user-list-container {
  margin-left: 15%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.user-list {
  margin-left: 15%;
  display: flex;
  justify-content: center;
}

.Inner-Container {
  justify-content: center;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 30%;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-basis: content;
  margin-right: 5px;
}

.new-team {
  align-items: center;
}

div.scroll {
  background-color: #30363D;
  width: 290px;
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}
