.team-cards-container {
  margin-left: 15%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.Inner-Container {
  justify-content: center;
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 30%;
}

.header {
  margin-top: 50px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.card-team {
  margin: 10px;
  width: 500px;
  height: 300px;
  // overflow: scroll;
  text-align: center;
  background: #30363D;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.member-list-team {
  display: flex;
  flex-direction: column;
  padding-right: 75px;
  padding-top: 30px;
  align-items: flex-start;
}


.user-list {
  display: flex;
  justify-content: center;
}

.edit-button {
  padding-left: 40px;
}

.new-button {
  display: flex;
  justify-content: center;
}

.imagebox {
  display: flex;
  justify-content: left;
}

.team-overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
}

.card-project {
  margin: 10px;
  width: 500px;
  height: 300px;
  // overflow: scroll;
  text-align: center;
  background: #30363D;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-wrap: wrap;
}

.project-overview { 
  display: flex;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 25px;
  margin-right: 50px;
  margin-bottom: 10px;
  max-width: 40%;
  max-height: 45%;
  align-items: flex-start;
}

.member-list-project {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 25px;
  margin-right: 15px;
  margin-bottom: 10px;
  max-width: 40%;
  max-height: 45%;
  align-items: flex-start;
}

.doc-names-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 30%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p.user-names {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: white;
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;
}

.new-team {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-bottom: 20px;
}

.new-project {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-bottom: 20px;

}

.doc-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
}


.scroll-team-show {
  background-color: #30363D;
  width: 90%;
  max-height: 30%;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  align-items: center;
}

p.doc-names {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: white;
  display: flex;
  align-items: center;
}

h3.team-name {
  color: #7C61FF;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
}

p.description {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  margin-bottom: 8px;
}


h3.project-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  text-align: left;
  letter-spacing: -0.015em;
  color: #3FB951;
}


p.edit-button {
  display: flex;
  align-items: flex-start;
}

p.recent {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  display: flex;
}


a {
  text-decoration: none !important;
}

.p-5 {
  padding: 5rem !important;
}

p.team-show-doc-names {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: white;
  display: flex;
  padding-right: 50px;
}

p.user-list{
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: white;
  display: flex;
  padding-right: 50px;
}

p.team-show-info {
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  text-align: left;
  letter-spacing: -0.015em;
  margin-bottom: 8px;;
}

h3.subheader {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color:#7C61FF;
}

.new-proj-input {
  -webkit-text-fill-color: white;
}

.scroll {
  background-color: #30363D;
  width: 290px;
  height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;
}
